<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Accion table</title>
      <meta name="author" content="Kranthi">
      <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="./css/style.css">
   </head>
   <body ng-app="accion">
    <div class="table-responsive" ng-controller="tableCtrl">
        <div class="loader" ng-if="!isResponseSuccess">
            <img src="./assets/loader.gif"/>
        </div>
        <span class="label label-primary" ng-if="isResponseSuccess">Ordered By: {{orderByField}}</span>
        <table class="table table-bordered"  ng-if="isResponseSuccess">
            <thead>
                <tr>
                    <th>
                        <a href="#" ng-click="clickHandler('id')">
                            Id 
                            <span ng-show="orderByField == 'id'">
                                <span ng-show="!reverse">^</span>
                                <span ng-show="reverse">v</span>
                            </span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="clickHandler('userId')">
                            User Id 
                            <span ng-show="orderByField == 'userId'">
                                <span ng-show="!reverse">^</span>
                                <span ng-show="reverse">v</span>
                            </span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="clickHandler('title')">
                            Title 
                            <span ng-show="orderByField == 'title'">
                                <span ng-show="!reverse">^</span>
                                <span ng-show="reverse">v</span>
                            </span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="clickHandler('body')">
                            Body 
                            <span ng-show="orderByField == 'body'">
                                <span ng-show="!reverse">^</span>
                                <span ng-show="reverse">v</span>
                            </span>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in tableContent|orderBy:orderByField:reverse">
                    <td>{{item.id}}</td>
                    <td>{{item.userId}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.body}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="./js/script.js"></script>
   </body>
</html>